@media only screen and (max-width: 768px) { /* Pantallas de celular */

}

@media only screen and (max-width: 768px) { /* Pantallas de celular */



}  

@media only screen and (min-width: 1000px){ /* Pantalla widescreen fullhd */
  
  .menu{
    max-width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
  }
  
  .bannerPublicidad{
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .card{

 
  
  width: 20%;

  }

  .aviso{
    max-width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }   

  .botonSubir {
    
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 43%;
    margin-right: 40%;
  }

  .card-deck{
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
    margin-bottom: 5%;
 
  }
  
  .formularioContacto{
    max-width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }

  .tablaEmpresas{
    max-width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }

}

.aviso{
  text-align: center;
}



.navbar navbar-light .collapse navbar-collapse .navbar-nav mr-auto .nav-item active {
  background-color: #98cfff; }


  

  
.tituloTabla {
    margin-left: 30vh;
    margin-right: 30vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    text-align: center;
    background: #76c1ff;
    border: 1px solid #034591;
    font-weight: 25px; }
  
.table table-striped table-hover .table-primary {
    padding-left: 30vh;
    padding-right: 30vh; }
  
    .tituloContacto {
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 2vh;
    margin-bottom: 0vh;
    text-align: center; }*/    

.formularioContacto {
    padding-left: 20vh;
    background-color: antiquewhite; max-width:800px; }

    .formularioContacto .row {
      margin-top: 5vh;
 }





  





.avisoProximamente {
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 2vh;
  text-align: center; }

.bannerPublicidad {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh; }

.background-Ala1 {
  background-image: url(imagenes/Ala1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Alguicida1 {
  background-image: url(imagenes/Alguicida1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-BalanceadoGato {
  background-image: url(imagenes/BalanceadoGato.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-BalanceadoPerro {
  background-image: url(imagenes/BalanceadoPerro.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Balde1 {
  background-image: url(imagenes/Balde1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Balerina1 {
  background-image: url(imagenes/Balerina1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-BetunZapato1 {
  background-image: url(imagenes/BetunZapato1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Blem1 {
  background-image: url(imagenes/Blem1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-BolsaConsorcio1 {
  background-image: url(imagenes/BolsaConsorcio1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-BoyaPileta1 {
  background-image: url(imagenes/BoyaPileta1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Ceras1 {
  background-image: url(imagenes/Ceras1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Clarificante1 {
  background-image: url(imagenes/Clarificante1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Desodorante2 {
  background-image: url(imagenes/Desodorante2.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Desodorante3 {
  background-image: url(imagenes/Desodorante3.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Detergente3 {
  background-image: url(imagenes/Detergente3.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-DetergenteCif1 {
  background-image: url(imagenes/DetergenteCif1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Escobas1 {
  background-image: url(imagenes/Escobas1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Esponja1 {
  background-image: url(imagenes/Esponja1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Focos1 {
  background-image: url(imagenes/Focos1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Fuyi1 {
  background-image: url(imagenes/Fuyi1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-JabonAuto1 {
  background-image: url(imagenes/JabonAuto1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-JabonManos1 {
  background-image: url(imagenes/JabonManos1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Lavandina1 {
  background-image: url(imagenes/Lavandina1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-LimpiaTapizado1 {
  background-image: url(imagenes/LimpiaTapizado1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Lisoform1 {
  background-image: url(imagenes/Lisoform1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-PapelHigienico2 {
  background-image: url(imagenes/PapelHigienico2.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Procenex1 {
  background-image: url(imagenes/Procenex1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Querubin {
  background-image: url(imagenes/Querubin.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Raid2 {
  background-image: url(imagenes/Raid2.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Raid3 {
  background-image: url(imagenes/Raid3.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-RenovadorGomas1 {
  background-image: url(imagenes/RenovadorGomas1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Sectisol1 {
  background-image: url(imagenes/Sectisol1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Shampoo1 {
  background-image: url(imagenes/Shampoo1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Silicona1 {
  background-image: url(imagenes/Silicona1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Suavizante2 {
  background-image: url(imagenes/Suavizante2.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Toallita1 {
  background-image: url(imagenes/Toallita1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Trapos1 {
  background-image: url(imagenes/Trapos1.jpg);
  max-width: 250px;
  max-height: 200px; }

.background-Vivere {
  background-image: url(imagenes/Vivere.jpg);
  max-width: 250px;
  max-height: 200px; }

.nav-item :hover {
  background-color: #98cfff; }

.nav-item_active {
  background-color: #98cfff; }
